
$btnColor: red;
.home{
    border: 1px solid $btnColor;
}

button{
    background-color: $btnColor;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
}